<h3 class="h4">
  {{ !!this.userId ? 'Edit User' : 'Add New User' }}
</h3>
<hr class="mb-5" />

<form [formGroup]="userForm" (ngSubmit)="submitUserForm()">

  <app-form-control
    *ngFor="let control of userControls"
    [form]="userForm"
    [control]="control"
  ></app-form-control>

  <!-- actions buttons -->
  <div class="d-flex gap-2">

    <!-- cancel button -->
    <a
      class="btn btn-secondary px-4"
      routerLink="/users"
    >
      Cancel
    </a>

    <!-- reset button -->
    <button
      *ngIf="!!!this.userId"
      class="btn btn-danger px-4"
      type="button"
      (click)="clearUserForm()"
    >
      Reset
    </button>

    <!-- submit button -->
    <button
      class="btn btn-primary px-4"
      type="submit"
      [disabled]="userForm.invalid"
    >
      Submit
    </button>
  </div>
</form>
