<div class="sidebar d-flex flex-column flex-shrink-0 p-3 text-bg-dark">
  <a routerLink="/" class="d-flex align-items-center mb-3 mb-md-0 text-white text-decoration-none">
    <span class="fs-4 fw-semibold">{{ brandLogo }}</span>
  </a>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <li *ngFor="let item of menuItems">
      <a
        class="nav-link text-white"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: item.exact }"
      >
        {{ item.name }}
      </a>
    </li>
  </ul>

  <hr>
  <ul>
    <li *ngFor="let locale of localesList">
      <a class="text-light" href="/{{ locale.code }}/">
        {{ locale.label }}
      </a>
    </li>
  </ul>
</div>